<configuration debug="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- <logger name="org.infinispan" level="ALL" /> -->
    <logger name="org.infinispan.jcache.annotation.CacheResultInterceptor" level="ALL" />
    <logger name="org.jboss.weld" level="INFO" />
</configuration>
